{{define "main"}}

<section class="article editable">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-10 col-lg-9"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h2><strong>{{.Title}}</strong></h2>
        <hr />
      </div>
    </div>
  </div>
</section>

<!-- Faq Section - Home Page -->
<section id="faq" class="faq editable">
  <div class="container">
    <div class="row justifu-content-center">
      <div
        class="col-12 col-md-9 col-lg-8"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="faq-container">
          <div class="faq-item faq-active">
            <h3>
              <span class="num">1.</span>
              <span>What does practical help from the companion include?</span>
            </h3>
            <div class="faq-content">
              <p>
                Practical help from the companion covers a range of tasks including household chores such as cleaning, cooking, laundry, and organising, gardening, and assistance with groceries. Companions are there to lend a hand with daily tasks to make life easier for the homeholder.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <span class="num">2.</span>
              <span
                >What checks and vetting are performed on companions?</span
              >
            </h3>
            <div class="faq-content">
              <p>
                We conduct thorough background checks and vetting processes on all companions to ensure the safety and security of our homeholders. This includes checking references, conducting interviews, verifying identification documents, and assessing character references. Additionally, companions may be required to provide a letter of recommendation from a previous employer or landlord.

              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <span class="num">3.</span>
              <span
                >QQQ</span
              >
            </h3>
            <div class="faq-content">
              <p>
                QQQ

              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <span class="num">4.</span>
              <span
                >What about grocery costs?</span
              >
            </h3>
            <div class="faq-content">
              <p>
                Companions are responsible for sorting and paying for their own groceries. However, the costs for shared meals are typically split between the homeholder and companion, ensuring fair and equitable arrangements.
              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->

          <div class="faq-item">
            <h3>
              <span class="num">5.</span>
              <span
                >Does the companion contribute to household bills?</span
              >
            </h3>
            <div class="faq-content">
              <p>
                Yes, depending on the agreement between the homeholder and companion, the companion may contribute towards household bills. Typically, companions will pay up to £110 to the homeholder each month to cover their share of utilities.

              </p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div>
          <!-- End Faq item-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Faq Section -->

{{end}}
