{{define "main"}}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 content text-center editable">
        <div class="ball-animation">
          <div class="ball"></div>
        </div>
        <h1>Empowered Living, Daily Cheer: Find Your Live-in Companion</h1>
        <p>
          Through our carefully vetted companion program, our elders with a spare room gain independence by being matched with companions who bring the reassuring presence of practical help and the warmth of camaraderie. Companion match email introduction within 4 days.
        </p>
        <div class="btn mt-20">
          <a href="#cta">Get started</a>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/home_logo.png"
          loading="lazy"
          alt="Home Logo"
          class="img-fluid editable"
          style="padding: 20px 5px;"
        />
      </div>
    </div>
  </div>
  <div class="logo-wall">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4 col-md-2">
          <div class="logo d-flex justify-content-center">
            <div class="click">
              <img src="/assets/img/klick-click.gif" alt="click">
            </div>
            <a href="https://finance.yahoo.com/news/golden-years-home-must-cost-143000676.html" target="_blank">
              <img src="/assets/img/yahoo.png" id="home-img" loading="lazy" alt="Logo 1">
            </a>
          </div>
        </div>
        <script>
          window.onload = function() {
            setTimeout(function() {
              const img = document.querySelector('.logo-wall .logo .click img');
              img.classList.add('shine');
              setTimeout(function() {
                img.classList.remove');
                img.classList.add('fade');
              }, 1000);
            }, 5000);
          };
        </script>
        <div class="col-4 col-md-2">
          <div class="logo">
            <a href="https://mopsul.co.uk/living-lively-a-new-era-of-independence-for-britains-home-click-outlook/" target="_blank">
              <img src="/assets/img/mopsul.png" loading="lazy" alt="Logo 2">
            </a>
          </div>
        </div>
        <div class="col-4 col-md-2">
          <div class="logo">
            <a href="#">https://www.google.com/" target="_blank">
              <img src="/assets/img/metro.png" loading="lazy" alt="Logo 3">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-bottom: 50px;padding-bottom: 50px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="51" viewBox="0 0 16 51" fill="none">
        <path d="M7.29289 50.7071C7.68342 51.0976 8.31658 51.0976 8.70711 50.7071L15.0711 44.3431C15.4616 43.9526 15.4616 43.3195 15.0711 42.9289C14.6805 42.5384 14.0474 42.5384 13.6569 42.9289L8 48.5858L2.34315 42.9289C1.95262 42.5384 1.31946 42.5384 0.928932 42.9289C0.538408 43.3195 0.538408 43.9526 0.928932 44.3431L7.29289 50.7071ZM7 0L7 50H9L9 0L7 0Z" fill="#5F5757"/>
      </svg>
    </div>
  </div>
</section>

<!-- ======= Reality Section ======= -->
<section class="reality">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>Reality: Your Loved One Deserves Safety and Companionship—Without the Worry</h2>
        <p>As a family member, the thought of your parent living alone can weigh heavily on your heart. Research shows that inactivity can shorten lives, sometimes by years. The fear of a fall or emergency at night, with no one there to help, keeps you awake at night. You may feel a deep sense of guilt, wondering if you’re doing enough to support their independence. And traditional live-in care? It often costs £2,100–£9,500 per month, far beyond what most families can afford, yet much of it is simply companionship and help with daily tasks.</p>
        <p>At Companion Helper, we believe no one should face these challenges alone. As a dedicated social enterprise, we’ve carefully vetted a network of compassionate, trustworthy companions who provide 15–20 hours of weekly help with chores, a reassuring presence day and night, and genuine companionship that uplifts spirits—all for just £70 a month. Our rigorous selection process ensures every companion is someone we’d trust in our own homes, giving you peace of mind that your loved one is in caring hands.</p>
        <p>Share your loved one’s needs with our dedicated advisors anytime, and within ~4 days, we’ll introduce you to a companion perfectly matched to bring safety, joy, and connection to their life.</p>
        <p>Keep scrolling to learn how we make this happen ↓</p>
      </div>
    </div>
  </div>
</section>

<!-- ======= Why Companion Section ======= -->
<section class="dream bg-home">
  <div class="container">
    <h2 style="text-align: center;font-size: 48px;padding-top: 25px;">Why get a Companion?</h2>
    <p style="text-align: center; color: #333;">We’ve manually matched thousands of companions with thousands of clients.</p>
    <div class="row justify-content align-items-center home-proposition">
      <div class="col-lg-4 col-md-4 col-lg-auto">
        <div class="home-proposition-img">
          <img src="/assets/img/proposition1.png" style="padding: 25px 0px;" height="350px" loading="lazy" alt="img" class="img-responsive"/>
      </div>
      </div>
      <div class="col-lg-8 col-md-8 col-lg-auto">
        <div class="home-proposition-content">
          <h2>Share your responsibilities, gain independence</h2>
          <p>Bid farewell to the stress of managing chores alone. Your live-in companion extends a helping hand around the house, granting you more freedom and enabling you to live life on your own terms.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Dream Section ======= -->
<section class="dream">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 col-md-8 col-lg-auto">
        <div class="home-proposition-content">
          <h2>Peace of Mind, Day and Night</h2>
          <p>Experience the peace of mind of having someone there. With a live-in companion, you’ll rest easy knowing that support and companionship is always available, creating a sense of security and tranquility in your home.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-lg-auto">
        <div class="home-proposition-img">
          <img src="/assets/img/proposition2.png" style="padding: 25px 0px;" height="auto" loading="lazy" alt="img" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Dream Section ======= -->
<section class="dream bg-home">
  <div class="container">
    <div class="row justify-content align-items-center">
      <div class="col-lg-4 col-md-4 col-auto">
        <div class="home-proposition-img">
          <img src="/assets/img/proposition3.png" style="padding: 25px 0px;" height="auto" alt="img" />
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-lg-auto">
        <div class="home-proposition-content">
          <h2>Day-to-day joys, Shared Moments</h2>
          <p>Find comfort and joy in reliable companionship. After all, we are companionship, and with these become cherished memories.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Testimonials Section ======= -->
<section class="testimonials">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-lg-auto text-center">
        <h2>Over 1,000+ families trust us</h2>
      </div>
    </div>
    <!-- Comment out to fix build -->
    <!-- {{ partial "components/testimonial.html" }} -->
  </div>
</section>

<!-- ======= How It Works Section ======= -->
<section class="how-it-works">
  <div class="container" style="max-width: 1000px;">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-lg-auto text-center">
        <h2><i>How It Works</i></h2>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-auto">
        <div class=col-md-4 p-4">
          <h2><span>📅</span> Request</h2>
          <p style="font-size: 14px;">In a quick 4-minute call, share your needs, preferences, and lifestyle with our dedicated team. We’ll match you with a companion who complements your lifestyle.</p>
        </div>
      </div>
      <div class="col-md-0 d-flex align-items-center justify-content-center">
        <div class="connect-line"></div>
      </div>
      <div class="col-lg-auto">
        <div class="col-md-4 p-4">
          <h2><span>🤝</span> Receive</h2>
          <p style="font-size: 14px;">Within ~4 days, you’ll get an email introduction to a carefully vetted companion who’s been selected to bring safety and warmth to your home.</p>
        </div>
      </div>
      <div class="col-md-0 d-flex align-items-center">
        <div class="connect-line"></div>
      </div>
      <div class="col-lg-auto">
        <div class=col-md-4 p-4">
          <h2><span>✅</span> Review</h2>
          <p style="font-size: 14px;">Check out your companion to ensure they’re a great fit. If it’s not perfect, we’ll keep introducing matches until you’re delighted.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <p><strong>All matches are made in ~4 days.</strong></p>
    </div>
  </div>
</section>

<!-- ======= CTA Section ======= -->
{{partial "cta.html" .}}
</div>
