{{define "main"}}
<style>
  .logo img {
    height: 150px;
    width: auto;
    margin-right: 50px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
</style>
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 content text-center editable">
        <div class="ball-animation">
          <div class="ball"></div>
        </div>
        <h1>Empowered Living, Daily Cheer: Find Your Live-in Companion</h1>

        <p>
          Through our carefully vetted companion program, our elders with a spare room gain independence by being matched with companions who bring the reassuring presence of practical help and the warmth of camaraderie.


 
        </p>
        <div class="btn mt-4 mx-0 px-0">
          <a href="#cta" class="scrollto">Gain Companion</a>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/hero_logo_new.webp"
          loading="eager"
          alt="Hero Img"
          class="img-fluid editable"
        />
      </div>
    </div>
  </div>
  <!-- Logo Wall -->
  <!--<section id="logo-wall-container">
    <div class="logo-container">
          <div class="logo"><img src="/assets/img/microsoft-logo.svg" loading="eager" alt="Logo 1"></div>
          <div class="logo"><img src="/assets/img/sentry.svg" loading="eager" alt="Logo 2"></div>
          <div class="logo"><img src="/assets/img/zendesk.svg" loading="eager" alt="Logo 3"></div>
          <!-- Add more logos as needed 
    </div>
    <div style="text-align: center; margin-bottom: 50px;padding-bottom: 50px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="51" viewBox="0 0 16 51" fill="none">
        <path d="M7.29289 50.7071C7.68342 51.0976 8.31658 51.0976 8.70711 50.7071L15.0711 44.3431C15.4616 43.9526 15.4616 43.3195 15.0711 42.9289C14.6805 42.5384 14.0474 42.5384 13.6569 42.9289L8 48.5858L2.34315 42.9289C1.95262 42.5384 1.31946 42.5384 0.928932 42.9289C0.538408 43.3195 0.538408 43.9526 0.928932 44.3431L7.29289 50.7071ZM7 0L7 50H9L9 0L7 0Z" fill="#5F5757"/>
        </svg>-->
    </div>
  </section>
  <!-- Logo Wall End -->
</section>
<!-- End Hero -->

<!-- ======= Testimonials Section ======= -->
{{ partial "testimonial.html"}}
<!-- End Testimonials -->

<!-- ======= Dream Section ======= -->
<section class="dream bg editable">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-lg-5 d-flex justify-content-center"
      >
        <img src="/assets/img/dream-1.webp" loading="eager" alt="img" class="img-fluid" />
      </div>
      <div class="col-lg-7" >
        <h2>Peace of Mind, Day and Night</h2>

        <p>
          Experience the comfort of having someone there. With a live-in companion, you can rest easy knowing that support and camaraderie are available to you day and night, creating a sense of security and tranquility in your home.
        </p>
        <!--<p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
          impedit odio eligendi magni illo deserunt excepturi porro nesciunt
          quaerat veritatis, accusamus eius culpa sint ullam inventore
          recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
          possimus voluptates at.
        </p>-->
      </div>
    </div>
  </div>
</section>
<!-- End Dream -->

<!-- ======= Dream Section ======= -->
<section class="dream editable">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7">
        <h2>Share the Responsibilities, and Gain Independence</h2>
        <p>
          Bid farewell to the stress of managing chores alone. Your live-in companion extends a hand around the house, granting you more freedom and enabling you to live life on your terms.
        </p>
        <!--<p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
          impedit odio eligendi magni illo deserunt excepturi porro nesciunt
          quaerat veritatis, accusamus eius culpa sint ullam inventore
          recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
          possimus voluptates at.-->
        </p>
      </div>
      <div
        class="col-lg-5 d-flex justify-content-center"
      >
        <img src="/assets/img/dream-2.webp" loading="eager" alt="img" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Dream -->

<!-- ======= Dream Section ======= -->
<section class="dream bg editable">
  <div class="container">
    <div class="row justify-content-center align-items-center">

      <div
        class="col-lg-5 d-flex justify-content-center"
      >
        <img src="/assets/img/dream-3.webp" loading="eager" alt="img" class="img-fluid" />
      </div>
      
      <div class="col-lg-7" >
        <h2>Day-to-Day Delights, Shared Joys</h2>

        <p>
          Find comfort and contentment in reliable company. After all, we are made to live with company, and with them, moments become a celebration of togetherness.
        </p>
        <!--<p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
          impedit odio eligendi magni illo deserunt excepturi porro nesciunt
          quaerat veritatis, accusamus eius culpa sint ullam inventore
          recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
          possimus voluptates at.-->
        </p>
      </div>
      
    </div>
  </div>
</section>
<!-- End Dream -->

<!-- ======= 5 Parts Section ======= -->
<section class="parts editable">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center mb-5">
        <h2><strong>How it Works</strong></h2>
      </div>
      <!---->

      <div class="col-lg-9 mt-5">
        <div class="card p-4">
          <h2><span>1.</span> Consultation</h2>
          <p>
          A consultation with our advisor to discuss your situation and needs.
          </p>
        </div>
        <div class="line">
          <div class="lin"></div>
        </div>
      </div>
      <!---->

      <div class="col-lg-9 mt-5">
        <div class="card p-4">
          <h2><span>2.</span> Matching Process</h2>
          <p>
            Our team will identify a companion based on shared interests, daily schedules, location, and other relevant preferences.
          </p>
        </div>
        <div class="line">
          <div class="lin"></div>
        </div>
      </div>
      <!---->

      <div class="col-lg-9 mt-5">
        <div class="card p-4">
          <h2><span>3.</span> Email Introduction</h2>
          <p>
          Within 4 days of consultation, you'll receive an email introduction to the companion, carefully vetted and matched to suit your preferences.
          </p>
        </div>
        <div class="line">
          <div class="lin"></div>
        </div>
      </div>
      <!---->

      <div class="col-lg-9 mt-5">
        <div class="card p-4">
          <h2><span>4.</span> Meeting</h2>
          <p>
          A meeting between you and your chosen potential homesharer to explore compatibility and get acquainted.

          </p>
        </div>
        <div class="line">
          <div class="lin"></div>
        </div>
      </div>
      <!---->

      <div class="col-lg-9 mt-5">
        <div class="card p-4">
          <h2><span>5.</span> Ongoing Support & Coordination</h2>
          <p>
            Your selected companion extends 15-20 hours of camaraderie and assistance with chores every week. Enjoy the peace of mind knowing that our team is here to provide continuous support and coordination. If the initial match doesn't meet your expectations, we'll continue making introductions until you find the perfect fit.

          </p>
        </div>
      </div>
      <!---->
      <div class="col-lg-9 mt-5 text-center">
        <p>
          fill
        </p> 
      </div>
    </div>
  </div>
</section>
<!-- End 5 Parts -->

<!-- ======= CTA Section ======= -->
{{ partial "cta.html"}}
<!-- End CTA -->
{{end}}
