{{define "main"}}
<!-- ======= Dream Section ======= -->
<section class="dream bg editable">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 d-flex justify-content-center" data-aos="fade-right">
                <img src="/assets/img/dream-1.webp" alt="img" class="img-fluid" />
            </div>
            <div class="col-lg-7">
                <h2>Peace of Mind, Day and Night</h2>

                <p>
                    Experience the comfort of having someone there. With a live-in companion, you can rest easy knowing
                    that support and camaraderie are available to you day and night, creating a sense of security and
                    tranquility in your home.
                </p>
                <!--<p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
            impedit odio eligendi magni illo deserunt excepturi porro nesciunt
            quaerat veritatis, accusamus eius culpa sint ullam inventore
            recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
            possimus voluptates at.
          </p>-->
            </div>
        </div>
    </div>
</section>
<!-- End Dream -->

<!-- ======= Dream Section ======= -->
<section class="dream editable">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
                <h2>Share the Responsibilities, and Gain Independence</h2>

                <p>
                    Bid farewell to the stress of managing chores alone. Your live-in companion extends a hand around
                    the house, granting you more freedom and enabling you to live life on your terms.
                </p>
                <!--<p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
                impedit odio eligendi magni illo deserunt excepturi porro nesciunt
                quaerat veritatis, accusamus eius culpa sint ullam inventore
                recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
                possimus voluptates at.-->
                </p>
            </div>
            <div class="col-lg-5 d-flex justify-content-center" data-aos="fade-left" >
                <img src="/assets/img/dream-2.webp" alt="img" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- End Dream -->

<!-- ======= Dream Section ======= -->
<section class="dream bg editable">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 d-flex justify-content-center" data-aos="fade-right">
                <img src="/assets/img/dream-3.webp" alt="img" class="img-fluid" />
            </div>
            <div class="col-lg-7">
                <h2>Day-to-Day Delights, Shared Joys</h2>

                <p>
                    Find comfort and contentment in reliable company. After all, we are made to live with company, and
                    with them, moments become a celebration of togetherness.
                </p>
                <!--<p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque
            impedit odio eligendi magni illo deserunt excepturi porro nesciunt
            quaerat veritatis, accusamus eius culpa sint ullam inventore
            recusandae aliquid amet laudantium unde nemo sequi sed eveniet! Ipsum
            possimus voluptates at.-->
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Dream -->
<!-- ======= CTA Section ======= -->
{{ partial "cta.html"}}
<!-- End CTA -->
{{end}}