{{define "main"}}

<section class="article editable">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-9">
        <h2><strong>{{.Title}}</strong></h2>
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="team mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
          <h3>Sumiyuru P Alwis</h3>
          <p>Senior Web Developer</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
          <h3>Sumiyuru P Alwis</h3>
          <p>Senior Web Developer</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
          <h3>Sumiyuru P Alwis</h3>
          <p>Senior Web Developer</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
          <h3>Sumiyuru P Alwis</h3>
          <p>Senior Web Developer</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
          <h3>Sumiyuru P Alwis</h3>
          <p>Senior Web Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}
