{{define "main"}}

<section class="article editable">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-9">
        <h2><strong>{{.Title}}</strong></h2>
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="team mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" style="width: 50%; height: auto;" />
          <h3>Callum Pendleton</h3>
          <p>Community Outreach Specialist</p>
          <a href="mailto:callum.pendleton@companionhelper.com"><i class="bi bi-envelope"></i> callum.pendleton@companionhelper.com</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" style="width: 50%; height: auto;" />
          <h3>Elowen Rutherford</h3>
          <p>Vetting and Checks Specialist</p>
          <a href="mailto:elowen.rutherford@companionhelper.com"><i class="bi bi-envelope"></i> elowen.rutherford@companionhelper.com</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" style="width: 50%; height: auto;" />
          <h3>Saffron Fothergill</h3>
          <p>Companion Advisor</p>
          <a href="mailto:saffron.fothergill@companionhelper.com"><i class="bi bi-envelope"></i> saffron.fothergill@companionhelper.com</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" style="width: 50%; height: auto;" />
          <h3>Orla Blackwood</h3>
          <p>Program Coordinator</p>
          <a href="mailto:orla.blackwood@companionhelper.com"><i class="bi bi-envelope"></i> orla.blackwood@companionhelper.com</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="/assets/img/team.png" alt="Team" class="img-fluid" style="width: 50%; height: auto;" />
          <h3>Marie Weber</h3>
          <p>Homeholder Advisor</p>
          <a href="mailto:marie.weber@companionhelper.com"><i class="bi bi-envelope"></i> marie.weber@companionhelper.com</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="article editable mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 col-lg-9">
        <h2><strong>Contact Us</strong></h2>
        <hr />
      </div>
    </div>
  </div>
</section>

<!-- ======= Contact Section ======= -->
{{ partial "form.html" .}}
<!-- End Contact Section -->

{{end}}
