{{define "main"}}
<style>
  .sqBlob {
    background: linear-gradient(45deg, #e0739b, #ea8a6b);
  }
  .dateInfo {
    color: #e5e5e3;
  }
</style>
<section class="titles">
  <div class="container">
    <div class="row">
      <div style="font-size: 30px;margin-top: 25px;font-weight: bolder;" >
        <span>Your Stories</span>
        <hr>
      </div>
      <!-- Existing Testimonial Tiles -->
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/1-t.webp" class="testimonial-img" alt="" />
          <h3>Garden Glee, Mealtime Ease</h3>
          <h4>Harrow, Jan. 2024</h4>
          <div class="content">
            <p class="short-text">
              Margaret and Robert, now in their 80s, had been living alone for several decades since their children moved out. 32-year-old Sociology student Julian, makes dinners 3-4 nights a week and enjoys gardening...
            </p>
            <span class="full-text" style="display: none">
              Margaret and Robert, now in their 80s, had been living alone for several decades since their children moved out. 32-year-old Sociology student Julian, makes dinners 3-4 nights a week and enjoys gardening. Dinners have become the highlight of their day.
              <div style="text-align: left;">
                <h4>Companion:</h4>"Being with Margaret and Robert has been a blessing. We share meals, laughter, and it is so lovely to be in such a positive homey environment.”
              </div>
              <div style="text-align: left;">
                <h4>Homeholder:</h4> "Having Julian around has added a delightful spark into our home. His company and assistance with chores have made our evening mealtimes genuinely enjoyable."
              </div>
            </span>
            <button class="see-more-btn">See More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/2-t.webp" class="testimonial-img" alt="" />
          <h3>Chats & Chores</h3>
          <h4>Brighton, Aug. 2023</h4>
          <div class="content">
            <p class="short-text">
              36-year-old wheelchair using Sofia wanted someone to chat with and share household tasks. 31-year-old Restaurant manager Janet was seeking a positive environment and companionship. Together, they've...
            </p>
            <span class="full-text" style="display: none">
              36-year-old wheelchair using Sofia wanted someone to chat with and share household tasks. 31-year-old Restaurant manager Janet was seeking a positive environment and companionship. Together, they've become a team, sharing chores and creating daily joyous moments.
              <div style="text-align: left;">
                <h4>Companion:</h4> "Living with Sofia has been incredible. We share chores, stories, and support each other through life's ups and downs. It's like having a built-in best friend!"
              </div>
              <div style="text-align: left;">
                <h4>Family of Homeholder:</h4> "Janet being with Sofia has made such a positive impact on her life. They've formed a strong bond, and we're grateful for the happiness and companionship she's brought into Sofia's home."
              </div>
            </span>
            <button class="see-more-btn">See More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/3-t.webp" class="testimonial-img" alt="" />
          <h3>Crafting Connections</h3>
          <h4>Paddington, May 2024</h4>
          <div class="content">
            <p class="short-text">
              67-year-old retired carpenter John sought companionship and assistance, while  27-year-old teacher Edwardo desired good company and a homey environment. Together, they've found the perfect balance...
            </p>
            <span class="full-text" style="display: none">
              67-year-old retired carpenter John sought companionship and assistance, while  27-year-old teacher Edwardo desired good company and a homey environment. Together, they've found the perfect balance, exploring new hobbies and sharing laughs.
              <div style="text-align: left;">
                <h4>Companion:</h4> "Being with John has been amazing. We're like two peas in a pod, always finding new adventures and sharing chores. He keeps me smiling, and I keep him inspired!"
              </div>
              <div style="text-align: left;">
                <h4>Family of Homeholder:</h4> "Edwardo's presence in John's home has been transformative. They've become inseparable, and we're thrilled to see John thriving with her by his side."
              </div>
            </span>
            <button class="see-more-btn">See More</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/4-t.webp" class="testimonial-img" alt="" />
          <h3>Evening Company & Cleaning Bliss</h3>
          <h4>Maidenhead, Feb. 2023</h4>
          <div class="content">
            <p class="short-text">
              Widowed 84-year-old Josephine, seeking companionship and a helping hand with daily chores, found solace when 26-year-old veterinarian Sarah joined her. Now, their evenings are brimming with shared stories...
            </p>
            <span class="full-text" style="display: none">
              Widowed 74-year-old Josephine, seeking companionship and a helping hand with daily chores, found solace when 26-year-old veterinarian Sarah joined her. Now, their evenings are brimming with shared stories, and Sarah has lightened the cleaning load.
              <div style="text-align: left;">
                <h4>Companion:</h4> "Living with Josephine has been wonderful. We share stories, help each other out, and create a homey environment together."
              </div>
              <div style="text-align: left;">
                <h4>Homeholder:</h4> "Having Sarah with me has been a blessing. She's not just a companion; she's become a friend who adds joy and assistance to my daily life."
              </div>
            </span>
            <button class="see-more-btn">See More</button>
          </div>
        </div>
      </div>
      <!-- Additional Testimonial Tile 1 -->
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/5-t.webp" class="testimonial-img" alt="" />
          <h3>Morning Walks and Talks</h3>
          <h4>York, Mar. 2023</h4>
          <div class="content">
            <p class="short-text">
              70-year-old retired teacher Emily needed companionship and someone to help her stay active. 28-year-old fitness trainer Jake joined her, and their morning walks have become a cherished routine...
            </p>
            <span class="full-text" style="display: none">
              70-year-old retired teacher Emily needed companionship and someone to help her stay active. 28-year-old fitness trainer Jake joined her, and their morning walks have become a cherished routine, keeping them both fit and happy.
              <div style="text-align: left;">
                <h4>Companion:</h4> "Spending time with Emily has been a joy. Our walks are filled with great conversations and laughter, making each day brighter."
              </div>
              <div style="text-align: left;">
                <h4>Family of Homeholder:</h4> "Jake has brought so much energy into Emily's life. Their walks have made a huge difference in her overall well-being."
              </div>
            </span>
            <button class="see-more-btn">See More</button>
          </div>
        </div>
      </div>
      <!-- Additional Testimonial Tile 2 -->
      <div class="col-md-6 mt-5">
        <div class="card">
          <img src="/assets/img/t-bg/6-t.webp" class="testimonial-img" alt="" />
          <h3>Sharing Meals and Memories</h3>
          <h4>Bristol, Dec. 2023</h4>
          <div class="content">
            <p class="short-text">
              78-year-old artist Mary needed companionship and someone to share meals with. 29-year-old chef Alex joined her, and their shared meals have become moments of joy and connection...
            </p>
            <span class="full-text" style="display: none">
              78-year-old artist Mary needed companionship and someone to share meals with. 29-year-old chef Alex joined
