{{define "main"}}
<section class="titles">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="card">
          <img
            src="/assets/img/testimonials/testimonials-5.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
            veniam tempor noster veniam enim culpa labore duis sunt culpa nulla
            illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="card">
          <img
            src="/assets/img/testimonials/testimonials-4.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
            veniam tempor noster veniam enim culpa labore duis sunt culpa nulla
            illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="card">
          <img
            src="/assets/img/testimonials/testimonials-2.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
            veniam tempor noster veniam enim culpa labore duis sunt culpa nulla
            illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="card">
          <img
            src="/assets/img/testimonials/testimonials-3.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
            veniam tempor noster veniam enim culpa labore duis sunt culpa nulla
            illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials editable">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          src="/assets/img/feedback-2.png"
          alt="feedback"
          class="img-fluid"
        />
      </div>

      <div class="col-lg-7">
        <div class="slides-1 swiper">
          <div class="swiper-wrapper">{{ partial "testimonial.html"}}</div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials -->

<!-- ======= CTA Section ======= -->
{{ partial "cta.html"}}
<!-- End CTA -->
{{end}}
