<section class="cta" id="cta" data-aos="fade-up" data-aos-delay="200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-11 col-lg-9">
        <img src="/assets/img/logo-white-2.png" alt="logo" class="img-fluid" />
        <h2>Lorem ipsum dolor sit amet.</h2>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
          nesciunt.
        </h4>
        <div class="btn">
          <a href="callto:0123 456 789" class="call"
            ><i class="bi bi-telephone"></i> 0123 456 789</a
          >
          <!-- Calendly link widget begin -->
          <link
            href="https://assets.calendly.com/assets/external/widget.css"
            rel="stylesheet"
          />
          <script
            src="https://assets.calendly.com/assets/external/widget.js"
            type="text/javascript"
            async
          ></script>

          <a
            class="time"
            href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sumiyuru/15min'});return false;"
            >Schedule time with me</a
          >
          <!-- Calendly link widget end -->
        </div>
      </div>
    </div>
  </div>
</section>
