<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const contents = document.querySelectorAll(".content");

    contents.forEach(function (content) {
      const shortText = content.querySelector(".short-text");
      const fullText = content.querySelector(".full-text");
      const seeMoreBtn = content.querySelector(".see-more-btn");

      seeMoreBtn.addEventListener("click", function () {
        if (fullText.style.display === "none") {
          shortText.style.display = "none";
          fullText.style.display = "block";
          seeMoreBtn.textContent = "See Less";
        } else {
          shortText.style.display = "block";
          fullText.style.display = "none";
          seeMoreBtn.textContent = "See More";
        }
      });
    });
  });
</script>
