<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials editable bg section-spacing-non-hero">
  <div class="container">
    <h2>Over <span style="color: #000080;">460+</span> families have found trusted companions through our network.</h2>
    <div class="swiper" data-swiper="testimonials">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="/assets/img/testimonials/testimonial-1.webp"
              class="testimonial-img"
              alt="Janet Fitzgerald"
            />
            <h3>Janet Fitzgerald</h3>
            <h4>Family of a Homeholder</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              I just couldn’t bear the thought of letting my Mum live all alone. It just wouldn’t be right. Now, with Julia around, Mum gets to experience the joy (and sometimes the challenges) of Julia’s experimental cooking. Plus, I don’t have to field as many calls about how to work the darn computer anymore!
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="/assets/img/testimonials/testimonial-2.webp"
              class="testimonial-img"
              alt="John Campbell"
            />
            <h3>John Campbell</h3>
            <h4>Family of a Homeholder</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              My dear Dad has reached that age where it’s just safer to have someone around in case anything happens. Bringing in a companion was the perfect solution. Now, Jeffery’s there, and they’ve even started tackling that kitchen table repainting Dad’s been talking about forever.
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="/assets/img/testimonials/testimonial-3.webp"
              class="testimonial-img"
              alt="Ellis Portendorfer"
            />
            <h3>Ellis Portendorfer</h3>
            <h4>Family of a Homeholder</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              My brother and I were worried about finding the right solution for Mum, especially with her being alone at night. We were considering care homes, when we stumbled upon Companion Helper. Since then, Mum’s been delighted with her companion, who’s even helping her brush up on her French! It’s such a relief knowing she’s not alone.
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="/assets/img/testimonials/testimonial-4.webp"
              class="testimonial-img"
              alt="Mabel Harred"
            />
            <h3>Mabel Harred</h3>
            <h4>Homeholder</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              Danielle has truly been a blessing since joining my household. It's not just the practical help that matters; it's the companionship and support she offers. With her there, I feel much more at ease knowing there's someone nearby. Thanks to Companion Helper, I've found a true friend!
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="/assets/img/testimonials/testimonial-5.webp"
              class="testimonial-img"
              alt="Amaya Dupont"
            />
            <h3>Amaya Dupont</h3>
            <h4>Companion</h4>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              Sharing a space with Joslin has been such a joy—we’ve even started our own inside jokes! I never wanted to live alone, and having such a warm, homely place with Joslin has made all the difference. I’m even picking up some great household tips!
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials -->
